<article id="{{ instance.section_menu_slug }}">
  {% if instance.show_title %}<h2>{{ instance.section_title }}</h2>{% endif %}
  {% block section_content %}
  {% endblock %}{% if prev or next %}
  <div class="section-links">
    <ul>
      {% if prev %}<li class="prev"><a href="#{{ prev.section_menu_slug }}">{{ prev.section_menu_label }}</a></li>{% endif %}
      {% if next %}<li class="next"><a href="#{{ next.section_menu_slug }}">{{ next.section_menu_label }}</a></li>{% endif %}
    </ul>
  </div>{% endif %}
</article>
